/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333333;
}

.user-header {
    background-color: #55b56a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
    overflow: hidden;
}

#icon {
    width: 60px;
    height: 60px;
}

.user-details h2 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #000000;
}

.user-details p {
    font-size: 14px;
    color: #000000;
}

.main-nav {
    height: 4vh;
    background-color: #be2821;
    padding: 10px 0;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.nav-links li {
    margin-right: 10px;
}

.nav-links li:not(:last-child) {
    border-right: 2px solid #ffffff;
    padding-right: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
}

.nav-links li a:hover {
    background-color: #ff725e;
    color: #ffffff;
}

.main-nav::after {
    content: "";
    display: block;
    clear: both;
}

main {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-group {
    margin-bottom: 20px;
}
.form-group-checkbox {
    margin-bottom: 20px;
    display: flex;
}
input[type="checkbox"]{
    margin-right: 10px;
    min-height: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 3px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 15px;
}

button[type="submit"]:hover {
    opacity: 0.8;
}

.settings-container {
    max-width: 600px;
    margin: 0 auto;
}

.settings-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.settings-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.disabled {
    background-color: #ffe5ad; /*  portocaliu */;
}

.save-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #55b56a;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}

footer {
    height: 5vh;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #eeeeee;
    /*background-color: #f4f4e6; !* Gri deschis *!*/
    background-color: #55b56a; /*verde*/
    /*background-color:  #ffd782; !*  portocaliu *!*!;*/
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.account-settings {
    background-color: lightgrey;
    color: #000000;
    border-radius: 8px;
    overflow: hidden;
}

.header-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: #55b56a;
    padding: 10px;
}

.header-tabs h2 {
    margin: 0;
    font-size: 18px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

.tabs {
    display: flex;
    background-color: #333;
}

.tab {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background: white;
    border: none;
    color: black;
}

.tab.active {
    background-color: lightgrey;
    color: #000000;
}

.tab-content {
    padding: 20px;
}

.tab-content.active {
    display: block;

}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

/*.form-group input {*/
/*    width: 100%;*/
/*    padding: 8px;*/
/*    border: 1px solid #555;*/
/*    border-radius: 4px;*/
/*    background-color: #333;*/
/*    color: #ffffff;*/
/*}*/

/*.form-group input:disabled {*/
/*    background-color: #444;*/
/*}*/

.profile-picture {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profile-picture img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.remove-picture {
    background: none;
    border: none;
    color: lightgrey;
    cursor: pointer;
    text-decoration: underline;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.save-btn, .cancel-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/*.save-btn {*/
/*    background-color: lightgrey;*/
/*    color: #000;*/
/*}*/

